@import 'https://fonts.googleapis.com/css?family=Press+Start+2P:400,700i,900i';

* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (max-width: 992px) {
    html {
        overflow-y: auto;
    }

    .wrap .svg {
        visibility: hidden;
    }
}

body {
    font-family: 'Press Start 2P';
    color: rgba(124, 234, 164, 1);
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212;
    font-size: 14px;
    overflow: hidden;
}

.json_attribute {
    color: white;
}

.wrap {
    perspective-origin: 50% 50%;
}

.page {
    margin-left: auto;
    padding: 30px;
    border-radius: 3px;
    font-size: calc(12px + 1.4vw);
}

.page h2 {
    font-weight: bold;
    font-size: calc(12px + 1.4vw);
    font-weight: 900;
    color: #dad8ec;
}

.json pre {
    color: #7ceaa4;
}

.svg {
    stroke: #7ceaa4;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
}

/* Animated background */

@media only screen and (min-width: 992px) {

    .svg:nth-child(1) {
        left: -10%;
        animation: raise1 12s linear infinite;
        animation-delay: -4s;
        transform: scale(-0.3) rotate(11deg);
        z-index: -6;
        filter: blur(-5px);
    }

    @keyframes raise1 {
        to {
            bottom: 150vh;
            transform: scale(-0.3) rotate(288deg);
        }
    }

    .svg:nth-child(2) {
        left: 16%;
        animation: raise2 16s linear infinite;
        animation-delay: -1s;
        transform: scale(0) rotate(245deg);
        z-index: -5;
        filter: blur(-4px);
    }

    @keyframes raise2 {
        to {
            bottom: 150vh;
            transform: scale(0) rotate(40deg);
        }
    }

    .svg:nth-child(3) {
        left: 78%;
        animation: raise3 21s linear infinite;
        animation-delay: -1s;
        transform: scale(0.3) rotate(236deg);
        z-index: -4;
        filter: blur(-3px);
    }

    @keyframes raise3 {
        to {
            bottom: 150vh;
            transform: scale(0.3) rotate(230deg);
        }
    }

    .svg:nth-child(4) {
        left: -14%;
        animation: raise4 15s linear infinite;
        animation-delay: 0s;
        transform: scale(0.6) rotate(128deg);
        z-index: -3;
        filter: blur(-2px);
    }

    @keyframes raise4 {
        to {
            bottom: 150vh;
            transform: scale(0.6) rotate(99deg);
        }
    }

    .svg:nth-child(5) {
        left: 95%;
        animation: raise5 13s linear infinite;
        animation-delay: 0s;
        transform: scale(0.9) rotate(359deg);
        z-index: -2;
        filter: blur(-1px);
    }

    @keyframes raise5 {
        to {
            bottom: 150vh;
            transform: scale(0.9) rotate(351deg);
        }
    }

    .svg:nth-child(6) {
        left: 45%;
        animation: raise6 20s linear infinite;
        animation-delay: 0s;
        transform: scale(1.2) rotate(317deg);
        z-index: -1;
        filter: blur(0px);
    }

    @keyframes raise6 {
        to {
            bottom: 150vh;
            transform: scale(1.2) rotate(187deg);
        }
    }

    .svg:nth-child(7) {
        left: -18%;
        animation: raise7 7s linear infinite;
        animation-delay: -4s;
        transform: scale(1.5) rotate(150deg);
        z-index: 0;
        filter: blur(1px);
    }

    @keyframes raise7 {
        to {
            bottom: 150vh;
            transform: scale(1.5) rotate(45deg);
        }
    }

    .svg:nth-child(8) {
        left: 86%;
        animation: raise8 14s linear infinite;
        animation-delay: 0s;
        transform: scale(1.8) rotate(41deg);
        z-index: 1;
        filter: blur(2px);
    }

    @keyframes raise8 {
        to {
            bottom: 150vh;
            transform: scale(1.8) rotate(21deg);
        }
    }

    .svg:nth-child(9) {
        left: 77%;
        animation: raise9 11s linear infinite;
        animation-delay: -1s;
        transform: scale(2.1) rotate(164deg);
        z-index: 2;
        filter: blur(3px);
    }

    @keyframes raise9 {
        to {
            bottom: 150vh;
            transform: scale(2.1) rotate(42deg);
        }
    }

    .svg:nth-child(10) {
        left: 50%;
        animation: raise10 12s linear infinite;
        animation-delay: -2s;
        transform: scale(2.4) rotate(92deg);
        z-index: 3;
        filter: blur(4px);
    }

    @keyframes raise10 {
        to {
            bottom: 150vh;
            transform: scale(2.4) rotate(37deg);
        }
    }
}

/* Typing Animation */

.typing-animation {
    display: inline-block;
    position: relative;
    font-family: 'Press Start 2P';
    font-size: calc(12px + 3vw);
    padding: 2px;
    /* overflow: hidden; */
}

.typing-animation::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    background-color: #121212;
    top: 0;
    right: 0;
    border-left: 3px solid white;
    animation: cursor 0.5s linear infinite, typing 3s steps(11) forwards 1;

}

@keyframes cursor {
    0% {
        border-color: white;
    }

    50% {
        border-color: white;
    }

    65% {
        border-color: transparent;
    }

    75% {
        border-color: transparent;
    }

    90% {
        border-color: white;
    }

    100% {
        border-color: white;
    }

}

@keyframes typing {
    to {
        width: 0;
    }
}